/* general reset */
* {
  box-sizing: border-box;
}

body,
html,
main,
h1,
h2,
h3,
h4,
ul,
li,
p {
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
}

/* Basic syling */
 body {
    background-color: thistle;
 }